<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- TODO: Add a fav icon here -->

    <!-- Preload backgrounds -->
    <link rel="preload" href="/assets/img/backgrounds/CustomizePigeon-Background.svg" as="image">

    <!-- Font $ bootstrap -->
    <%- include('_partials/commonCssHeaders.ejs') -%>

    <!-- Page Custom CSS -->
    <link rel="stylesheet" href="/assets/css/_commons/flip_overlay.css">
    <link rel="stylesheet" href="/assets/css/customize_pigeon/pigeons.css">
    <link rel="stylesheet" href="/assets/css/customize_pigeon/customizeP_styles.css"/>
    <link rel="stylesheet" href="/assets/css/customize_pigeon/media_queries.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
<!-- Portrait Mode Overlay -->
<div class="flip-overlay">
    <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
    <span class="portrait">FLIP TO PLAY</span>
</div>

<div class="container-fluid big-container">
    <div class="row content-row">
        <div class="col-sm-12">
            <!-- Main Components -->
            <div class="container-fluid">
                <div class="row h-100">
                    <!-- Navigation Buttons -->
                    <div class="col-sm-1 my-auto">
                        <div class="row flex-column nav-buttons">
                            <div class="col-sm-12 save-btn d-flex flex-column">
                                <img src="/assets/img/Icons/SaveBtn.svg" class="disabled" alt="">
                                <span>Save</span>
                            </div>
                            <div class="col-sm-12 exit-btn d-flex flex-column">
                                <img src="/assets/img/Icons/ExitBtn.svg" alt="">
                                <span>Exit</span>
                            </div>
                        </div>
                    </div>

                    <!-- Hue Adjuster -->
                    <div class="col-sm-2 my-auto">
                        <div class="dial-container">
                            <div class="dial-title-background">
                                <span>Hue</span>
                            </div>
                            <div class="slidecontainer">
                                <div class="slider-wrapper">
                                    <input type="range" step="1" min="1" max="100" value="30" class="slider"
                                           id="myRange" orient="vertical">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Main Pigeon -->
                    <div class="col-sm-6">
                        <div class="selectedPigeon">
                            <div class="pigeon"></div>
                        </div>
                    </div>

                    <!-- Pigeon Type Selector -->
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="selector-title-background">
                                    <span>Pigeon Type</span>
                                </div>
                            </div>
                        </div>
                        <div class=" row type-selector justify-content-center">
                            <div class="col-sm-10 type-container">
                                <div class="row type-row justify-content-around mt-1">
                                    <div class="col-sm-5 pigeon-type-option hoodie-pigeon">
                                        <div class="locked hidden"></div>
                                    </div>
                                    <div class="col-sm-5 pigeon-type-option pusiness-pigeon">
                                        <div class="locked"></div>
                                    </div>
                                </div>
                                <div class="row type-row justify-content-around mt-1">
                                    <div class="col-sm-5 pigeon-type-option pigeon-elegante">
                                        <div class="locked"></div>
                                    </div>
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                </div>
                                <div class="row type-row justify-content-around mt-1">
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                </div>
                                <div class="row type-row justify-content-around mt-1">
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                </div>
                                <div class="row type-row justify-content-around mt-1">
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                    <div class="col-sm-5 pigeon-type-option pigeon-placeholder">
                                        <div class="locked"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-row">
        <div class=" bottom-background">
            <img src="/assets/img/LYPSTYC-logo.png" alt="LIPSTYC Logo" class="companyLogo">
        </div>
    </div>
</div>

<!-- App -->
<%- include('_partials/commonJsFooters.ejs') -%>

</body>

</html>