<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Game</title>
  <!-- TODO: Add a fav icon here -->

  <%- include('_partials/commonCssHeaders.ejs') -%>

    <!-- Page Custom CSS - game_styles -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/_commons/flip_overlay.css">
    <link rel="stylesheet" href="/assets/css/index_styles.css">
    <link rel="stylesheet" href="/assets/css/ios_toggle.css">
</head>

<body>
  <div class="container">

    <!-- Portrait Mode Overlay -->
    <div class="flip-overlay">
      <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
      <span class="portrait">FLIP TO PLAY</span>
    </div>

    <!-- Map Selection -->
    <!-- <div class="map-selection-container">
      <div class="map-selection-label">
        <span>Battleground:</span>
      </div>
      <div class="map-selection-button animate__animated animate__pulse animate__infinite"></div>
    </div> -->

    <div class="logo floating">
      <img src="/assets/img/GUI-controls/MenuStart/Game Title-01.svg" alt="">
    </div>

    <div class="play-popup">
      <img src="/assets/img/GUI-controls/MainControls/SVG/multiplayer.svg"
        alt="">
      <img src="/assets/img/GUI-controls/MainControls/SVG/singleplayer.svg"
        alt="">
    </div>


    <div class="indexWrapper">

      <div class="play-mode-toggle-container">
        <span>Play as Guest: &nbsp; </span>
        <div class="toggleWrapper">
          <input type="checkbox" name="toggle1" class="mobileToggle"
            id="toggle1">
          <label for="toggle1" class="toggleLabel"></label>
        </div>
      </div>

      <div class="start">
        <!-- <span class="play-as-guest">Play as guest</span> -->
        <p class="title-enter-name">Login to account: </p>
        <div class="login-inputs container-fluid">
          <span class="email-text">Email: &nbsp;&nbsp; <input type="text"
            class="emailInput" maxlength="22"></span>
          <span>Password: &nbsp; <input type="password" class="passwordInput"
            maxlength="18"></span>
        </div>
        <span class="username d-none">Username: &nbsp; <input type="text"
          class="usernameInput" maxlength="12"></span>

        <div
          class="startBtn animate__animated animate__pulse animate__infinite unpressed">
        </div>

        <div class="play-container d-none">
          <img class="playOfflineBtn"
            src="/assets/img/GUI-controls/MainControls/SVG/singleplayer.svg"
            alt="">
          <span> OFFLINE</span>
          <img class="playOnlineBtn" src="/assets/img/GUI-controls/MainControls/SVG/multiplayer.svg"
            alt="">
          <span> ONLINE</span>
        </div>
        <span class="online-text-searching">Finding an opponent</span>

      </div>
      <p class="sign-up-link"> or Sign up!</p>
      <button class="profile">Profile</button>
      <button class="customize">Customize</button>

      <!-- Loading Clouds -->
      <div
        class="loading-clouds-noBK-overlay d-none animate__animated animate__slower 3s">
      </div>
    </div>

    <%- include('_partials/commonJsFooters.ejs') -%>
</body>

</html>