<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Game</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/assets/css/index_styles.css">
  <link rel="stylesheet" href="/assets/css/ios_toggle.css">
</head>

<body>
  <div class="container">

    <!-- Portrait Mode Overlay -->
    <div class="flip-overlay">
      <span class="portrait">FLIP TO PLAY</span>
    </div>

    <!-- Intro Overlay -->
    <div class="intro-page">

      <div class="blueBanner">
        <span class="character">you are: PUSINESS MAN </span>
      </div>
      <div class="yourPigeon"></div>
      <div class="bubble bubble-bottom-left">
        <span class="backstory">I’m a bird in the big apple. Lifes good! Amazing food, great night life, what more can a
          pigeon ask for? Well ...I wish sweater pigeon would stop stealing my food....I’ll have to take thing into my
          own hands. Nothing personal, it’s just business.</span>
        <div class="objectives">
          <div class="objectives-title"></div>
          <div class="objectives-banner">
            <ul class="game-info">
              <li>Use your fork to attack unprotected spots to decrease your opponents lives</li>
              <br>
              <li>Use your sheild block to protect yourself against opponent attacks</li>
              <br>
              <li>Winner is determined by the number of lives left or the amount of ammo left</li>
            </ul>
            <button class="continueBtn">Got it!</button>
          </div>
        </div>
      </div>
    </div>

    <div class="logo floating">
      <img src="/assets/img/GUI-controls/MenuStart/Game Title.png" alt="">
    </div>

    <div class="start">
      <div class="play-mode-toggle-container">
        <span>Play Online:</span>
        <div class="toggleWrapper">
          <input type="checkbox" name="toggle1" class="mobileToggle" id="toggle1">
          <label for="toggle1" class="toggleLabel"></label>
        </div>
      </div>

      <p class="title-enter-name">Enter your name: </p>

      <input type="text" class="usernameInput">

      <button class="play">
        <div class="startBtn animate__animated animate__pulse animate__infinite unpressed"></div>
        <!-- <img src="/assets/img/TPguielements-starting-10.png" alt=""> -->
      </button>

    </div>

  </div>

  <!-- <audio controls autoplay>
    <source src="\assets\music\Itty-Bitty-8-Bit-Music.mp3" type="audio/mp3">
  </audio> -->
  <!-- JavaScript -->
  <!-- App -->
  <%- include('_partials/commonJsFooters.ejs') -%>
</body>

</html>