<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play!</title>
    <!-- TODO: Add a fav icon here -->

    <%- include('_partials/commonCssHeaders.ejs') -%>

        <!-- Page Custom CSS - game_styles -->
        <link rel="stylesheet" href="/assets/css/game_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body class="default-background">
    <div class="container-fluid big-container">
        <div class="row content-row">
            <div class="col-md-12">

                <!-- Portrait Mode Overlay -->
                <div class="flip-overlay">
                    <span class="portrait">FLIP TO PLAY</span>
                </div>

                <!-- Tutorial Overlay -->
                <div class="tutorial-overlay d-none animate__animated">
                    <div class="tutorial"></div>
                    <span class="exit-tutorial">x</span>
                </div>

                <!-- Round Countdown Overlay -->
                <div class="countdown-overlay d-none">
                    <div class="countdown ready "></div>
                    <div class="countdown-filler"></div>
                    <!-- <span class="count">3</span> -->
                </div>

                <!-- Background Image as CSS class -->

                <!-- Play Again Button -->
                <div class="play-again-container position-absolute d-flex justify-content-center align-items-end">
                    <div id="pulse" class="play-again mb-5"></div>
                </div>

                <!-- Game Result Banner -->
                <div class="result-container position-absolute d-flex justify-content-center">
                    <div class="result-banner position-absolute mt-4"></div>
                </div>


                <!-- Timer Counter -->
                <div class="timer-counter">
                    <!-- Transitioning between two decimals to one vice versa using d-none (display none class utility in Bootstrap),
     being controlled in JavaScript frontend. -->
                    <!-- <div class="time-no-decimal number-6 d-none"></div>
        <div class="time-left-decimal number-1"></div>
        <div class="time-right-decimal number-0"></div> -->
                    <span class="time-nums">30</span>
                </div>

                <!-- Help Button -->
                <div class="help animate__animated animate__pulse animate__infinite"></div>

                <!-- Main Components -->
                <div class="container-fluid">

                    <!-- Shields View/Buttons Components -->
                    <div class="row d-flex justify-content-between blocks-row">

                        <!-- My Shield View Components -->
                        <div class="col-sm-2 asset-padding">
                            <div class="d-flex justify-content-end">
                                <img id="shield-image" src="/assets/img/GUI-controls/MainControls/vikingshield-1.png"
                                    alt="" class="shield-icon my-shield">
                            </div>
                            <div class="counter-box my-counter">
                                <span class="my-block-counter">X4</span>
                            </div>
                        </div>

                        <!-- Opponent's Shield View Components -->
                        <div class="col-sm-2 asset-padding opponent-counter-box">
                            <img src="/assets/img/GUI-controls/MainControls/vikingshield-1.png" alt=""
                                class="shield-icon">
                            <div class="counter-box opponent-counter">
                                <span class="opponent-block-counter">X4</span>
                            </div>
                        </div>
                    </div>

                    <!-- Attack View/Buttons Components -->
                    <div class="row d-flex justify-content-between">

                        <!-- My Attack View Components -->
                        <div class="col-sm-2 justify-content-end asset-padding">
                            <div class="d-flex justify-content-end">
                                <img id="attack-image" src="/assets/img/GUI-controls/MainControls/attackfork-1.png"
                                    alt="" class="shield-icon my-attack">
                            </div>
                            <div class="counter-box my-counter">
                                <span class="my-attack-counter">X4</span>
                            </div>
                        </div>

                        <!-- Opponent's Attack View Components -->
                        <div class="col-sm-2 asset-padding opponent-counter-box">
                            <img src="/assets/img/GUI-controls/MainControls/attackfork-1.png" alt=""
                                class="shield-icon">
                            <div class="counter-box opponent-counter">
                                <span class="opponent-attack-counter">X4</span>
                            </div>
                        </div>
                    </div>

                    <!-- Table Labels AND Tally Boards Components -->
                    <div class="row d-flex board">

                        <!-- Table Labels AND My Tally Board Components -->
                        <div class="col-sm-6">
                            <div class="row">

                                <!-- Table Labels -->
                                <div class="col-sm-1 asset-padding table-labels">
                                </div>

                                <!-- My Tally Board Components -->
                                <div class="col-sm-10 asset-padding">
                                    <table class="tally my-tally">
                                        <tr>
                                            <td class="tabol-labol head-label">Head</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabol-labol body-label">Body</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabol-labol legs-label">Legs</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Opponent's Tally Board Components -->
                        <div class="col-sm-6 d-flex justify-content-end asset-padding">
                            <table class="tally opponent-tally">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--potential problem?: health bar was removed -->
                    <div class="row d-flex justify-content-between health">
                        <!-- My Health Bar Components -->
                        <div class="col-sm-3 asset-padding">
                            <div class="health-container myHealthBar">
                                <div class="heart heart-filled"></div>
                                <div class="heart heart-filled"></div>
                                <div class="heart heart-filled"></div>
                            </div>
                        </div>

                        <!-- Opponent's Health Bar Components -->
                        <div class="col-sm-3 d-flex justify-content-end asset-padding">
                            <div class="health-container opponentHealthBar">
                                <div class="heart heart-filled"></div>
                                <div class="heart heart-filled"></div>
                                <div class="heart heart-filled"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Sunglasses Components -->
                    <div class="sunglasses-container position-absolute">
                        <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-left.svg" alt=""
                            class="sunglasses-left d-none animate__animated">
                        <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-right.svg" alt=""
                            class="sunglasses-right d-none animate__animated">
                    </div>

                    <!-- Characters' Pigeon Components -->
                    <div class="pigeons-container position-absolute">
                        <img src="/assets/img/pigeons/pigeonV1/PigeonV1-9.png" alt="" class="pigeon-left ">
                        <img src="/assets/img/pigeons/pigeonV3/PigeonV3-1.png" alt="" class="pigeon-right">
                    </div>

                    <!-- Hot-dog Pray Component -->
                    <div class="hotdog-container position-absolute">
                        <img src="/assets/img/Food/Hotdog/Hotdog@4x.png" alt="" class="hotdog-pray">
                    </div>

                    <!-- Move Picker Overlay Component -->
                    <div class="container-fluid move-picker-overlay position-absolute">
                        <div class="round-title"></div>
                        <div class="row">
                            <div class="col-sm-9 hints-box">
                                <b>Pick</b>
                                <b>your </b>
                                <b>weapon!</b>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 moves-placeholder position-absolute pop-in-animation">
                        <div class="mv-placeholder head"></div>
                        <div class="mv-placeholder body"></div>
                        <div class="mv-placeholder legs"></div>
                    </div>

                    <div class="done position-absolute pop-in-animation"></div>
                </div>
            </div>
        </div>
        <div class="row bottom-row">
            <div class=" bottom-background">
                <img src="/assets/img/LYPSTYC-logo.png" alt="LIPSTYC Logo" class="companyLogo">
            </div>
        </div>
    </div>

    <!-- more audio for rounds/game wins/loses -->
        <audio hidden="true" id="winRound" src="/assets/music/win-round-sound.wav"></audio>
        <!-- <audio hidden="true" id="winGame" src="/assets/music/win-game-sound.wav"> -->
        <audio hidden="true" id="winGame" src="/assets/music/winning-game.wav"></audio>
        <audio hidden="true" id="loseGame" src="/assets/music/lose-game-moan.wav"></audio>
        <audio hidden="true" id="drawGame" src="/assets/music/draw-game.wav"></audio>

        <audio hidden="true" id="loseRound" src="/assets/music/click-error.wav"></audio>
        <audio id="bgMusic" hidden="true" src="/assets/music/Fluffing-a-Duck.mp3"></audio>

        <!-- AUDIO/MUSIC CHOICES -->

        <!-- if using fluffy ducky background, put this in description: -->
        <!-- Fluffing a Duck Kevin MacLeod (incompetech.com)
        Licensed under Creative Commons: By Attribution 3.0 License
        http://creativecommons.org/licenses/by/3.0/
        Music promoted by https://www.chosic.com/free-music/all/  -->
  
    <!-- JavaScripts -->
        <!-- App -->
        <%- include('_partials/commonJsFooters.ejs') -%>

        <!-- Sounds -->
        <script type="module">
             import {playSound, soundsPath} from "/assets/js/core/sounds.js";

            let audio = document.querySelector("#bgMusic")
            document.onclick = function () {
             // playSound(soundsPath.theme);
                audio.play();
            }

            let fork = document.querySelector("#attack-image")
            fork.onclick = function () {
                let audio = new Audio("/assets/music/Attack-[AudioTrimmer.com]-[AudioTrimmer.com].mp3");
                audio.play();
            }

            let shield = document.querySelector("#shield-image")
            shield.onclick = function () {
                let audio = new Audio("/assets/music/mixkit-player-jumping-in-a-video-game-2043.wav");
                audio.play();
            }

            let opponentShield = document.querySelector(".opponent-counter-box > img")
            opponentShield.onclick = function () {
                let audio = new Audio("/assets/music/mixkit-neutral-bot-pinbal-tone-3137.wav");
                audio.play();
            }

            let opponentFork = document.querySelector("div:nth-child(2) > div.col-sm-2.asset-padding.opponent-counter-box")
            opponentFork.onclick = function () {
                let audio = new Audio("/assets/music/mixkit-neutral-bot-pinbal-tone-3137.wav");
                audio.play();
            }

            let movePlaceholderHead = document.querySelector(".mv-placeholder.head")
            movePlaceholderHead.onclick = function () {
                let audio = new Audio("/assets/music/putting-in-tally.wav")
                audio.play();
            }

            let movePlaceholderBody = document.querySelector(".mv-placeholder.body")
            movePlaceholderBody.onclick = function () {
                let audio = new Audio("/assets/music/putting-in-tally.wav")
                audio.play();
            }

            let movePlaceholderLegs = document.querySelector(".mv-placeholder.legs")
            movePlaceholderLegs.onclick = function () {
                let audio = new Audio("/assets/music/putting-in-tally.wav")
                audio.play();
            }

            let doneButton = document.querySelector(".done")
            doneButton.onclick = function () {
                let audio = new Audio("/assets/music/SuccessAttack.mp3")
                audio.play();
            }


        </script>



</body>

</html>