<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customize Pigeon</title>
  <!-- TODO: Add a fav icon here -->

  <!-- Preload backgrounds -->
  <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-01.svg" as="image">
  <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-02.svg" as="image">
  <link rel="preload" href="/assets/img/backgrounds/night-bg-01.svg" as="image">

  <!-- Page Custom CSS -->
  <link rel="stylesheet" href="/assets/css/profile_styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- Font $ bootstrap -->
  <%- include('_partials/commonCssHeaders.ejs') -%>
</head>

<body>

  <!-- Portrait Mode Overlay -->
  <div class="flip-overlay">
    <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
    <span class="portrait">FLIP TO PLAY</span>
  </div>

  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col">
          <!-- Back Buton -->
          <div class="back-btn"></div>

          <!-- Your Pigeon -->
          <div class="selectedPigeon">
            <div class="pigeon"></div>
          </div>

          <!-- Name & Level -->
          <div class="main-info">
            <span class="username">Sarah123</span>
            <div class="level-bars">
              <div class="level filled"></div>
              <div class="level filled"></div>
              <div class="level unfilled"></div>
              <div class="level unfilled"></div>
              <div class="level unfilled"></div>
            </div>
            <span class="level-title">Level 2</span>
          </div>
        </div>

        <div class="col">
          <div class="badge-background">
            <div class="badges-container">
              <img src="" alt="" class="badge">
              <img src="" alt="" class="badge">
              <img src="" alt="" class="badge">
              <img src="" alt="" class="badge">
              <img src="" alt="" class="badge">
            </div>
            <span>Achievements</span>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="gradient-background">
              <span class="stat-title">Games Played</span>
              <span class="stat">15</span>
            </div>

            <div class="gradient-background">
              <span class="stat-title">Win Ratio</span>
              <span class="stat">73%</span>
            </div>

            <div class="gradient-background">
              <span class="stat-title">XP</span>
              <span class="stat">10pts</span>
            </div>
          </div>

          <div class="col">
            <div class="items-container">
              <span>Unlocked Items</span>
              <div class="item-background">
                <img src="/assets/img/pigeons/pigeonV2/PigeonV2-1.svg" alt="Hoodie Pigeon">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- App -->
  <%- include('_partials/commonJsFooters.ejs') -%>

</body>

</html>