/* --------------- General --------------- */
* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/img/backgrounds/CustomizePigeon-Background.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  min-height: 100vh;
  background-color: #bababb;
}
/* /////////////// General ////////////// */



div.container-fluid.big-container {
  overflow: hidden;
  height: 100vh;
}

div.container-fluid.move-picker-overlay {
  overflow: visible;
}

/* --------------- Content Row --------------- */
.content-row {
  display: flex;
  align-items: center;
}

/* --------------- Bottom Row --------------- */
.bottom-background {
  background-image: url("/assets/img/backgrounds/bottom-background-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

.companyLogo {
  width: 10%;
  padding: 20% 0 0 0;
}

/* fills space that appears when browser width gets too thin*/
/*900px and up) */

@media only screen and (min-width: 900px) {
  .bottom-background {
    opacity: 100;
  }
}

@media only screen and (min-height: 415px) {
  .bottom-background {
    opacity: 100;
  }
}


/* --------------- Nav Buttons --------------- */
div.nav-buttons div {
  align-items: center;
  margin-top: 15px;
}

div.nav-buttons img {
  border-radius: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

div.nav-buttons img.disabled {
  filter: brightness(0.7);
}

div.nav-buttons span {
  font-family: "Titan One", cursive;
  font-size: 2.5vh;
  color: #407D96;
}





/* -------------- Hue Adjuster ---------------- */
div.dial-container .dial-title-background {
  background-color: #CADDE8;
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  padding: 10%;
  text-align: center;
}
div.dial-container .dial-title-background span {
  font-family: "Titan One", cursive;
  /*font-size: 2rem;*/
  font-size: 35px;
  color: #407d96;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: white;
}

div.dial-container .slidecontainer {
  background-color: #fdeda8;
  border-bottom: 10px solid #fcda54;
  border-right: 10px solid #fcda54;
  border-left: 10px solid #fcda54;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  padding-bottom: 35px;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 200px;
  padding: 0;
  text-align: center;
}

#myRange {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: none; /* Chromium */
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  width: 200px;
  cursor: pointer;
  position: relative;
  top: 42px;
  text-align: center;
  background-color: transparent;
}

#myRange::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}
#myRange::-moz-range-track { /* Firefox compatible */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}
#myRange::-ms-track { /* IE compatible */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}
#myRange::-moz-range-thumb { /* Firefox compatible */
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}
#myRange::-ms-thumb { /* IE compatible */
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}



/* --------------- Pigeon -------------------- */
div.pigeon {
}

div.selectedPigeon {
  /*margin-bottom: 60px;*/
  position: relative;
  top: 60px;
  height: 460px;
  width: 100%;
  background-image: url("/assets/img/pigeons/pigeonV1/PigeonV1-04.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* --------------- */
div.selector-title-background {
  margin-top: 100px;
  background-color: #CADDE8;
  border-top-left-radius: 10px;  /* 100px of height + 10px of border */
  border-top-right-radius: 10px;
  padding-inline: 10%;
  padding-block: 3%;
  text-align: center;
}
div.selector-title-background span {
  font-family: "Titan One", cursive;
  /*font-size: 2rem;*/
  font-size: 20px;
  color: #407d96;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: white;
}






/* --------------- Utils --------------------- */
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}