* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
  background: #ffdc4b;
}

body {
  margin: 0;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;

}

h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  height: 100vh;
}

.card-carousel {
  --card-width: 80%;
  /*--card-max-width: 700px;*/
  --card-max-width: 40%;
  --card-height: 90%;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .2s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all 1.4s ease;
}

.card-carousel .card {
  /*background: whitesmoke;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, .5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.3em;
  filter: brightness(.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

div.card p {
  font-family: "Titan One", cursive;
  font-size: 10vh;
  color: white;
  -webkit-text-stroke-width: 0.5vh;
  -webkit-text-stroke-color: #407d96;
  margin-bottom: 0.6em;
}

div.card.street-background {
  background-image: url("/assets/img/backgrounds/backgroundSVG-01.svg");
}

div.card.playground-background {
  background-image: url("/assets/img/backgrounds/backgroundSVG-02.svg");
}

div.card.pigeon-nights-background {
  background-image: url("/assets/img/backgrounds/night-bg-01.svg");
}

.card.highlight {
  filter: brightness(1);
  border: 2px solid black;
  /*box-shadow: inset 0 -70px 100em 3px #000000;*/
}

div.select-done-button {
  position: absolute;
  bottom: 30px;
  right: 20px;
  height: 100px;
  width: 250px;
  background-color: #ffdc4b;
  border: 3px solid white;
  font-family: "Titan One", cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 10000;
}

div.select-done-button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}


/*.card:nth-of-type(1) .image-container {*/
/*  background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");*/
/*}*/

/*.card:nth-of-type(2) .image-container {*/
/*  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg")*/
/*}*/

/*.card:nth-of-type(3) .image-container {*/
/*  background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")*/
/*}*/

/*.card:nth-of-type(4) .image-container {*/
/*  background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")*/
/*}*/

/*.card:nth-of-type(5) .image-container {*/
/*  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg")*/
/*}*/


/*.image-container {*/
/*  width: 8em;*/
/*  height: 8em;*/
/*  position: relative;*/
/*  background-size: cover;*/
/*  margin-bottom: 2em;*/
/*  border-radius: 100%;*/
/*  padding: 1em;*/
/*  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);*/
/*  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);*/
/*  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);*/

/*}*/

/*.image-container::after {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 120%;*/
/*  height: 120%;*/
/*  border: solid 3px rgba(0, 0, 0, .1);*/
/*  border-radius: 100%;*/
/*  position: absolute;*/
/*  top: calc(-10% - 3px);*/
/*  left: calc(-10% - 3px);*/
/*}*/

/*h2 {*/
/*  padding: 1em;*/
/*  margin-top: 1em;*/
/*  background: rgba(0, 0, 0, .3);*/
/*  text-align: center;*/
/*  color: white;*/
/*  border-radius: .2em;*/
/*  display: inline-block;*/
/*  transform: translateX(calc((100vw - 100%) / 2))*/
/*}*/

/*h2 a {*/
/*  color: #f5b916*/
/*}*/

span.portrait {
  font-family: "Titan One", cursive;
  font-size: 35px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #407d96;
  margin-top: 10px;
}

div.flip-overlay img {
  width: 30%;
}

@media only screen and (min-width: 350px) and (orientation: portrait) {
  div.flip-overlay {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.flip-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    background-color: #ffdc4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  div.flip-overlay {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  div.card p {
    font-size: 4vh;
  }
}

@media only screen and (min-width: 763px) {
  div.card p {
    font-size: 5vh;
  }
}

@media only screen and (min-width: 1094px) {
  div.card p {
    font-size: 7vh;
  }
}

@media only screen and (min-width: 1294px) {
  div.card p {
    font-size: 10vh;
  }
}