:root {
  /* derived from [(the pixels amount) x 100] / 896 */
  --left-pigeon-distance-from-the-edges: 20.08928571428571%;
  --right-pigeon-distance-from-the-edges: 12.27678571428571%;
  --tally-table-cell-size: 40px;

  /* Table Labels Sizes */
  --table-label-size-default: 26px;
  /* ~ mobiles */
  --table-label-size-on-tablet: 26px;
  /* 768px */
  --table-label-size-on-laptop: 36px;
  /* 1024px */
  --table-label-size-on-large-laptop: 41px;
  /* 1440px */
  --table-label-size-on-4k: 46px;
  /* 2560px */

  /* Tally Table Cell Sizes */
  --tally-table-cell-size: 40px;
  /* ~ mobile */
  --tally-table-cell-size-on-tablet: 40px;
  /* 768px */
  --tally-table-cell-size-on-laptop: 50px;
  /* ~1000px */
  --tally-table-cell-size-on-large-laptop: 60px;
  /* 1440px */
  --tally-table-cell-size-on-4k: 80px;
  /* 2560px */
}

* {
  box-sizing: border-box;
}

div.container-fluid.big-container {
  overflow: hidden;
  height: 100vh;
}

div.container-fluid.move-picker-overlay {
  overflow: visible;
}

body {
  margin: 0;
  min-height: 100vh;
  /* overflow: hidden;
  background-size: auto; */
  background-repeat: no-repeat;
  background-color: #BABABB;
}

.bottom-background {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

/*900px and up) */
@media only screen and (min-width: 900px) {
  .bottom-background {
    opacity: 100;
  }
}

@media only screen and (min-height: 415px) {
  .bottom-background {
    opacity: 100;
  }
}

body.default-background {
  background-image: url("/assets/img/backgrounds/background-01.png");
  background-size: 100vw;
}

body.playground-background {
  background-image: url("/assets/img/backgrounds/background-02.png");
}

body.night-night-background {
  background-image: url("/assets/img/backgrounds/background-03.png");
}

div.asset-padding {
  padding: 1%;
}

/* Portrait Overlay */
span.portrait {
  font-family: "Titan One", cursive;
  font-size: 35px;
  color: #407d96;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  margin-top: 10px;
}

/* Countdown Overlay */
span.countdown {
  font-family: "Titan One", cursive;
  font-size: 5em;
  color: #407d96;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

div.countdown-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  background-color: #ffdc4b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Replay */
/* TODO: change this to bootstrap row and use justify-content:center to center it.
                       This way will spare us from using left. */

div.play-again-container {
  width: 100vw;
  height: 100vh;
}

div.play-again {
  height: 20%;
  width: 25%;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 25%;
  height: 15%;
  top: 70%;
  left: 40%; */
  z-index: 30;
  transform: translate(50px, 50px);
}

div.play-again.replay-in-animation {
  background-image: url("/assets/img/GUI-controls/MainControls/PlayAgain.png");
  animation: pop-in;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 2s;
}

div.play-again.replay-out-animation {
  animation-name: pop-out;
  animation-fill-mode: backwards;
  animation-duration: 0.2s;
}

/* #pulse:hover {
  animation: pulse 1s ease-in infinite;
}

/* Result Banner */
div.result-container {
  width: 100vw;
  height: 100vh;
}

div.result-banner {
  /* TODO: change this to bootstrap row and use justify-content:center to center it.
                       This way will spare us from using left. */
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 25%;
  width: 35%;
  /* top: 5%;
  left: 36%; */
  z-index: 20;
}

div.result-banner.victory {
  background-image: url("/assets/img/GUI-controls/Results/Victory.png");
  animation: pop-in;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 1s;
}

div.result-banner.draw {
  background-image: url("/assets/img/GUI-controls/Results/Draw.png");
}

div.result-banner.defeat {
  background-image: url("/assets/img/GUI-controls/Results/Defeat.png");
}

/* Timer Counter */

/* TODO: make the numbers PNG files to be actual fonts in order to make responsiveness easier to implement (MAYBE)
    - It would loud faster.
    - Easier to do DOM manipulation (CSS rendering technically).
    */

div.timer-counter {
  position: absolute;
  background-image: url("/assets/img/GUI-controls/TimerRounds/TimerBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 5vw;
  width: 5vw;
  top: 0;
  left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.timer-counter div {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* is this meant to be removed? */
/* span.time-nums {
  font-family: "Titan One", cursive;
  font-size: 35px;
  color: #407d96;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  margin-top: 10px;
} */

/* Shield and Attack Counters */
img.shield-icon {
  /*height: 75px;*/
  width: 58%;
  z-index: 3;
}

img.attack-icon {
  /*height: 75px;*/
  width: 58%;
  z-index: 2;
}

div.counter-box {
  background: #656f74;
  width: 50%;
  text-align: right;
  padding: 1% 5% 1% 1%;
  font-weight: bold;
  color: #ffffff;
}

div.opponent-counter-box {
  margin-right: 1%;
}

div.counter-box.my-counter {
  position: absolute;
  top: 40%;
  left: 70%;
}

div.counter-box.opponent-counter {
  z-index: -1;
  position: absolute;
  top: 40%;
  right: 18%;
}

/* Table Labels */
div.table-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  height: 131px;
}

div.table-labels div.tabol-labol {
  text-align: right;
  width: 100%;
}

div.table-labels div.tabol-labol>img {
  height: 2.5vw;
  margin: 10px
    /* height: 26px; */
}

/* Tally Table */
div.row.board {
  height: 45%;
}

table.tally.opponent-tally {
  margin-right: 6%;
}

table.tally tr td {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  width: var(--tally-table-cell-size);
  height: var(--tally-table-cell-size);
  /* TODO: Responsive Table Cells -> Use Media Queries CSS (and of course use bigger/smaller pixels) */
  text-align: center;
}

table.tally tr td.cell-attacked {
  background-image: url("/assets/img/GUI-controls/MainControls/ForkNBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

table.tally tr td.cell-blocked {
  background-image: url("/assets/img/GUI-controls/MainControls/ShieldNBG.png");
  background-size: contain;
  background-repeat: no-repeat;
}

table.tally tr td.round-won {
  background-color: rgba(255, 220, 75, 0.4);
}

table.tally tr td.round-draw {
  background-color: rgba(186, 186, 187, 0.4);
}

table.tally tr td.round-defeat {
  background-color: rgba(231, 135, 151, 0.4);
}

/* WHAT IS THIS FOR??? */
table.tally tr td.round-defeat.hit {
  background-color: rgba(231, 135, 151, 1);
}

/* Pigeons Container */
div.pigeons-container {
  width: 100%;
  bottom: 0;
}

div.pigeons-container img {
  position: absolute;
  /*height: 170px;*/
  /*bottom: 15px;*/
  height: 340px;
  bottom: -65px;
  z-index: -10;
}

div.pigeons-container img.pigeon-left {
  left: var(--left-pigeon-distance-from-the-edges);
}

div.pigeons-container img.pigeon-left.picking-move-animation {
  animation-name: pigeon-pick-move;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

div.pigeons-container img.pigeon-left.revert-pigeon-pick-move {
  animation-name: revert-pigeon-pick-move;
  animation-fill-mode: backwards;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
}

div.pigeons-container img.pigeon-right {
  right: var(--right-pigeon-distance-from-the-edges);
  z-index: -19;
}

/* The Hotdog */
div.hotdog-container {
  width: 100%;
  bottom: 0;
}

div.hotdog-container img {
  position: absolute;
  bottom: 30px;
  z-index: -20;
}

div.hotdog-container img.hotdog-pray {
  height: 100px;
  left: 42.96875%;
  /* derived from [(the pixels amount) x 100] / 896 */
}

/* Health Bars */
/* div.health-bars {
  position: absolute;
  bottom: 5%;
  left: 2.5%;
  width: 95%;
} */

div.health-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CADDE8;
  border-radius: 8px;
  border-style: none none inset none;
  border-color: #83939b;
  border-width: 3px;
  height: 5vw;
  width: 62%;
  padding: 1vh 1.5vh;
}

div>div.heart {
  height: 2.5vw;
  width: 6vw;
  /* margin-right: 4px; */
  /* margin-left: 6px; */
}

div>div.heart-filled {
  background-image: url("/assets/img/GUI-controls/LifeGUI/Healthplus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div>div.heart-empty {
  background-image: url("/assets/img/GUI-controls/LifeGUI/Healthminus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Move Picker */
div.round-title {
  position: absolute;
  top: -19%;
  right: -3%;
  /* height: 40px; */
  width: 65%;
  /* background-image: url("/assets/img/GUI-controls/Round/Round 1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: "Titan One", cursive;
  font-size: 4.5vw;
  text-align: right;
  white-space: nowrap;
  color: white;
  -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: #407d96;
}

div.done {
  opacity: 0;
  bottom: 12.5%;
  left: 50%;
  z-index: 50;
  height: 10%;
  width: 8%;
  background-image: url("/assets/img/GUI-controls/MainControls/Done1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* .show-animation {
  animation-name: show-move-picker-overlay;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.25s;
} */

div.move-picker-overlay {
  opacity: 0;
  width: 30%;
  height: 55%;
  bottom: 40px;
  left: 40%;
  z-index: -15;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

div.move-picker-overlay.show-animation {
  animation-name: slide-in;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}

.hide-animation {
  animation-name: slide-out;
  animation-fill-mode: backwards;
  animation-duration: 0.3s;
  animation-delay: 0.25s;
}

div.move-picker-overlay div.row {
  padding: 30px 35px 20px 80px;
}

div.move-picker-overlay div.hints-box {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  color: #44575d;
}

.pop-in-animation {
  animation-name: pop-in;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
}

.pop-out-animation {
  animation-name: pop-out;
  animation-fill-mode: backwards;
  animation-duration: 0.2s;
}

div.moves-placeholder {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* right: 7%; */
  z-index: 40;
  right: 23%;
  top: 43%;
}

div.mv-placeholder {
  height: 5.6vw;
  width: 5.6vw;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

div.mv-placeholder.head {
  background-image: url("/assets/img/GUI-controls/MainControls/DefenseMenu-head.png");
}

div.mv-placeholder.body {
  background-image: url("/assets/img/GUI-controls/MainControls/DefenseMenu-body.png");
}

div.mv-placeholder.legs {
  background-image: url("/assets/img/GUI-controls/MainControls/DefenseMenu-legs.png");
}

div.mv-placeholder.filled-attack {
  border-radius: 10px;
  background-color: #ffdc4b;
  background-image: url("/assets/img/GUI-controls/MainControls/attackfork-1.png");
}

div.mv-placeholder.filled-block {
  border-radius: 10px;
  background-color: #ffdc4b;
  background-image: url("/assets/img/GUI-controls/MainControls/vikingshield-1.png");
}

/* Animations */
@keyframes pigeon-pick-move {
  from {
    height: 340px;
    left: var(--left-pigeon-distance-from-the-edges);
    bottom: -65px;
  }

  to {
    height: 720px;
    left: calc(var(--left-pigeon-distance-from-the-edges) - 290px);
    bottom: -260px;
  }
}

@keyframes revert-pigeon-pick-move {
  from {
    height: 720px;
    left: calc(var(--left-pigeon-distance-from-the-edges) - 290px);
    bottom: -260px;
  }

  to {
    height: 340px;
    left: var(--left-pigeon-distance-from-the-edges);
    bottom: -65px;
  }
}

@keyframes slide-in {
  from {
    width: 0;
    opacity: 1;
    display: none;
  }

  to {
    width: 30%;
    opacity: 1;
    display: block;
  }
}

@keyframes slide-out {
  from {
    width: 30%;
    opacity: 1;
    display: block;
  }

  to {
    width: 0;
    opacity: 0;
    display: none;
  }
}

@keyframes pop-in {
  50% {
    transform: scale(1.3);
    opacity: 0;
    display: none;
  }

  to {
    transform: scale(1);
    opacity: 1;
    display: block;
  }
}

@keyframes pop-out {
  50% {
    transform: scale(1);
    opacity: 1;
    display: block;
  }

  to {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
  div.flip-overlay {
    display: none;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  div.flip-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    background-color: #ffdc4b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



/* Background stretch if it wasn't the actual image resolution */
/* Background Responsiveness */
/* @media only screen and (min-width: 896px),
screen and (min-height: 414px) {
  body {
    background-size: cover;
  }
} */


/* Media Queries regular devices */

@media only screen and (min-width: 600px) {
  table.tally tr td {
    height: var(--tally-table-cell-size);
    width: var(--tally-table-cell-size);
  }

}

/* ---- Tablets ---- */
@media only screen and (min-width: 768px) {
  table.tally tr td {
    height: var(--tally-table-cell-size-on-tablet);
    width: var(--tally-table-cell-size-on-tablet);
  }

  div.pigeons-container {
    width: 100%;
    bottom: 0;
  }

  div.pigeons-container img {
    position: absolute;
    /*height: 170px;*/
    /*bottom: 15px;*/
    height: 340px;
    bottom: -65px;
    z-index: -10;
  }

  div.pigeons-container img.pigeon-left {
    left: var(--left-pigeon-distance-from-the-edges);
  }

  div.pigeons-container img.pigeon-left.picking-move-animation {
    animation-name: pigeon-pick-move;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }

  div.pigeons-container img.pigeon-left.revert-pigeon-pick-move {
    animation-name: revert-pigeon-pick-move;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
  }

  div.pigeons-container img.pigeon-right {
    right: var(--right-pigeon-distance-from-the-edges);
    z-index: -19;
  }


}

/* ---- Laptops ---- */
@media only screen and (min-width: 1024px) {
  table.tally tr td {
    height: var(--tally-table-cell-size-on-laptop);
    width: var(--tally-table-cell-size-on-laptop);
  }
}

/* ---- Large Laptops ---- */
@media only screen and (min-width: 1440px) {
  table.tally tr td {
    height: var(--tally-table-cell-size-on-laptop);
    width: var(--tally-table-cell-size-on-laptop);
  }

}

/* ---- 4k ---- */
@media only screen and (min-width: 2560px) {
  table.tally tr td {
    height: var(--tally-table-cell-size-on-4k);
    width: var(--tally-table-cell-size-on-4k);
  }
}