* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #b1d2d1;
  min-height: 100vh;
}

p {
  font-family: "Titan One", cursive;
  color: #4f7c93;
  font-size: 1.5rem;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Play Mode Toggle */
div.play-mode-toggle-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

div.play-mode-toggle-container span {
  font-family: "Titan One", cursive;
  font-size: 1.7vw;
  color: #407D96;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: white;
  margin-top: -4px;
  margin-right: 5px;
}

/* Start Menu */
div.start {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/img/GUI-controls/MenuStart/menubg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 55vh;
  width: 36vw;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

div.start p.title-enter-name {
  transition: 1s;
}

div.start p.title-enter-name.error-alert {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e8ba1d;
  color: #fff9e5;
}

div.startBtn {
  background-image: url("/assets/img/GUI-controls/MenuStart/Start.svg");
  /* background-position: contain; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 14vh;
  margin-top: 15px;
}

div.startBtn.unpressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/Start.svg");
}

div.startBtn.pressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/StartPressed.svg");
}

div.playOnlineBtn.playOnlineBtn {
  background-image: url("/assets/img/GUI-controls/MenuStart/Play_Online_Static.png");
}

div.playOnlineBtn.playOnlineBtn.hover {
  background-image: url("/assets/img/GUI-controls/MenuStart/Play_Online_Hover.png");
}

div.playOnlineBtn.playOnlineBtn.pressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/Play_Online_Pressed.png");
}

/* Logo */
div.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

/* div.start div.startBtn {
  height: 14vh;
  margin-top: 15px;
} */

div.logo img {
  height: 50vh;
}

.floating {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

input.usernameInput {
  padding: 6px;
  margin-top: -5px;
  border-radius: 3px;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #4f7c93;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  input.usernameInput {
    width: 20vw;
    height: auto;
    margin: 0;
    padding: 2px;
  }

  p {
    font-size: 2.3vw;
  }

  div.start img {
    width: 25vw;
    height: auto;
    margin-bottom: 10px;
  }

  div.start {
    height: 60vh;
    width: 45vw;
    margin: 0;
  }

  div.logo img {
    width: 52vw;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div.play-mode-toggle-container span {
    font-size: 2.6vw;
  }

  div.play-mode-toggle-container {
    margin-top: 0;
  }

  input.usernameInput {
    width: 25vw;
    margin: 0;
    font-size: 1.7vw;
  }

  div.start {
    height: 60vh;
    width: 40vw;
    margin: 0;
  }

  div.start img {
    width: 22vw;
    height: auto;
  }

  p {
    font-size: 2.7vw;
  }

  div.logo img {
    width: 50vw;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div.play-mode-toggle-container span {
    font-size: 1.8vw;
  }
  input.usernameInput {
    width: 20vw;
    margin: 0;
    font-size: 1.7vw;
  }

  p {
    font-size: 2.3vw;
  }

  div.start img {
    width: 16vw;
    height: auto;
    margin-bottom: 10px;
  }

  div.logo img {
    width: 40vw;
    height: auto;
  }

  div.container {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  div.play-mode-toggle-container {
    margin-top: -50px;
  }
}

/* 4K */
@media only screen and (min-width: 1400px) {
  div.play-mode-toggle-container {
    margin-top: -120px;
  }
}

/* Portrait Overlay */
span.portrait {
  font-family: "Titan One", cursive;
  font-size: 35px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #407d96;
  margin-top: 10px;
}

div.flip-overlay img {
  width: 30%;
}

@media only screen and (min-width: 350px) and (orientation: portrait) {
  div.flip-overlay {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.flip-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    background-color: #ffdc4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  div.flip-overlay {
    display: none;
  }
}
